{% extends 'base_admin/base_admin.html' %}
{% block content %}

{% if not user.is_authenticated and user.role == "admin" %}
    redirect('admin_login')
{% endif %}

<h1 style="margin-bottom:30px;">Admin Dashboard</h1>

<div style="display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
margin-bottom:40px;">

<div class="card" style="text-align:center;">
<h2>🎬 Anime</h2>
<p>Manage anime series</p>
<a href="{% url 'manage_film' %}">
<button>Open</button>
</a>
</div>

<div class="card" style="text-align:center;">
<h2>🎭 Genres</h2>
<p>Manage anime genres</p>
<a href="{% url 'manage_genre' %}">
<button>Open</button>
</a>
</div>

<div class="card" style="text-align:center;">
<h2>🏢 Producers</h2>
<p>Manage producers</p>
<a href="{% url 'manage_producer' %}">
<button>Open</button>
</a>
</div>

<div class="card" style="text-align:center;">
<h2>🎥 Studios</h2>
<p>Manage studios</p>
<a href="{% url 'manage_studio' %}">
<button>Open</button>
</a>
</div>

</div>

<div class="card">

<h2 style="margin-bottom:15px;">Quick Actions</h2>

<div style="display:flex;gap:15px;flex-wrap:wrap;">

<a href="{% url 'add_film' %}">
<button>Add Anime</button>
</a>

<a href="{% url 'add_genre' %}">
<button>Add Genre</button>
</a>

<a href="{% url 'add_producer' %}">
<button>Add Producer</button>
</a>

<a href="{% url 'add_studio' %}">
<button>Add Studio</button>
</a>

<a href="{% url 'manage_spotlight_series' %}">
<button>Manage Spotlight Series</button>
</a>
<form method="post" action="{% url 'admin_homepage' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</div>

</div>

{% endblock %}