{% extends 'base_admin/base_manage_film.html' %}
{% block content %}

{% if series %}
    {% if series.thumbnail_picture %}
        <img src="{{ series.thumbnail_picture.url }}" alt="{{ series.title }}" width="200" height="300">
    {% else %}
        <img src="/static/img/placeholder.png" alt="No image" width="200" height="300">
    {% endif %}
    <h2>{{ series.title }}</h2>
    {% if series.alternate_title %}
        <h3>{{ series.alternate_title }}</h3>
    {% endif %}
    <p><strong>Sypnosis:</strong> {{ series.sypnosis }}</p>
    <p><strong>Total Episode:</strong> {{ series.total_episodes }}</p>
    <p><strong>Status:</strong> {{ series.status }}</p>
    <p><strong>Aired date:</strong> {{ series.aired_start_date }} to {% if series.aired_end_date %} {{series.aired_end_date}} {% else %} ? {% endif %}</p>
    <p><strong>Status:</strong> {{ series.premiered_season }}, {{ series.premiered_year }}</p>
    <p><strong>Genres:</strong> {% for genre in series.genre.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Producer:</strong> {% for producer in series.producer.all %}{{ producer.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Studio:</strong> {% for studio in series.studio.all %}{{ studio.studio_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Duration:</strong> {{ series.duration_minutes }} minutes per ep</p>
    <p><strong>Score:</strong> {{ series.score }}</p>
    <p><strong>Rating:</strong> {{ series.get_rating_display }}</p>
    <p><strong>Publish Status:</strong> {% if series.is_published %} Published {% else %} Not Published {% endif %}</p>


    <a href="{% url 'edit_film' series.series_id %}"><button>Edit Film</button></a>
    <a href="{% url 'manage_episode' series.series_id %}"><button>Manage Episodes</button></a>
{% else %}
    <p>Film not found.</p>
{% endif %}
{% endblock %}
