{% extends 'base_admin/base_manage_film.html' %}
{% block content %}

<h1>Manage Producers</h1>
<br>
<a href="{% url 'add_producer' %}">Add Producer</a><br><br>
{% if producers %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for producer in producers %}
                <tr>
                    <td>{{ producer.name }}</td>
                    <td><a href="{% url 'edit_producer' producer_id=producer.producer_id %}">Edit</a></td>
                    <td><form method="post" action="{% url 'delete_producer' producer_id=producer.producer_id %}">
                        {% csrf_token %}
                        <button type="submit"
                                onclick="return confirm('Are you sure you want to delete {{ producer.name }}')">
                            Delete
                        </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No producers found.</p>
    
{% endif %}
<br><br>
<a href="{% url 'admin_homepage' %}">Back to Admin Homepage</a>

{% endblock %}