{% extends 'base_admin/base_manage_studio.html' %}
{% block content %}
<h1>Manage Studios</h1>
<br>
<a href="{% url 'add_studio' %}">Add Studio</a><br><br>

{% if studios %}

    <table border="1">

        <thead>

            <tr>

                <th>Name</th>

                <th>Edit</th>

                <th>Delete</th>

            </tr>

        </thead>

        <tbody>

            {% for studio in studios %}

                <tr>

                    <td>{{ studio.studio_name }}</td>

                    <td><a href="{% url 'edit_studio' studio_id=studio.studio_id %}">Edit</a></td>

                    <td><form method="post" action="{% url 'delete_studio' studio_id=studio.studio_id %}">
                        {% csrf_token %}
                        <button type="submit"
                                onclick="return confirm('Are you sure you want to delete {{ studio.studio_name }}')">
                            Delete
                        </button>
                    </form></td>

                </tr>

            {% endfor %}

        </tbody>

    </table>

{% else %}

    <p>No studios found.</p>
{% endif %}
<br><br>
<a href="{% url 'admin_homepage' %}">Back to Admin Homepage</a>

{% endblock %}