{% extends 'base_admin/base_manage_film.html' %}
{% block content %}
<h3>Manage Genres</h3><br>
<a href="{% url 'add_genre' %}"><h4>Add New Genre</h4></a>
<table border="1">
    <thead>
        <tr>
            <th>Genre Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for genre in genres %}
        <tr>
            <td>{{ genre.name }}</td>
            <td><a href="{% url 'edit_genre' genre.genre_id %}">Edit</a></td>
            <td>
                <form method="post" action="{% url 'delete_genre' genre.genre_id %}">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete {{ genre.name }}?')">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'manage_film' %}"><h4>Back to Manage Films</h4></a>
{% endblock %}