<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <a href="{% url 'homepage' %}"><h2>WatchOut!</h2></a>
    <a href=''><h3>Login</h3></a>
    <h3>search bar</h3>
    <form method="get" action="{% url 'search_results' %}">
        <input type="text" name="q" placeholder="Search for films...">
        <button type="submit">Search</button>
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>