{% extends 'base_user/base_user.html' %}
{% block content %}

{% if series %}
    <h2>{{ series.title }}</h2>
    {% if series.alternate_title %}
        <h3>{{ series.alternate_title }}</h3>
    {% endif %}


    {% if series.thumbnail_picture %}
        <img src="{{ series.thumbnail_picture.url }}" alt="{{ series.title }} Poster" class="series-poster">
    {% else %}
        <img src="/static/img/placeholder.png" alt="No image" class="series-poster">
    {% endif %}

    {# If `episode` isn't provided to this template, use the first episode of the series when available #}
    <a href="{% if series.episode_set.first %}{% url 'watch_film_guest' series.series_id series.episode_set.first.episode_id %}{% else %}#{% endif %}">
        <button>Watch Now</button>
    </a>
    
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_to_watchlist' series.series_id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Add to Watchlist</button>
        </form>
    
    {% else %}
        <button onclick="alert('Please log in to add this series to your watchlist.')">Add to Watchlist</button>
    {% endif %}

    <p><strong>Sypnosis:</strong> {{ series.sypnosis }}</p>
    <p><strong>Total Episode:</strong> {{ series.total_episodes }}</p>
    <p><strong>Status:</strong> {{ series.status }}</p>
    <p><strong>Aired date:</strong> {{ series.aired_start_date }} to {% if series.aired_end_date %} {{series.aired_end_date}} {% else %} ? {% endif %}</p>
    <p><strong>Status:</strong> {{ series.get_premiered_season_display }}, {{ series.premiered_year }}</p>
    <p><strong>Genres:</strong> {% for genre in series.genre.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Producer:</strong> {% for producer in series.producer.all %}{{ producer.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Studio:</strong> {% for studio in series.studio.all %}{{ studio.studio_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Duration:</strong> {{ series.duration_minutes }} minutes per ep</p>
    <p><strong>Score:</strong> {{ series.score }}</p>
    <p><strong>Rating:</strong> {{ series.get_rating_display }}</p>
    
{% else %}
    <p>Series not found.</p>
{% endif %}

{% endblock %}