{% extends "base_user/base_user.html" %}

{% load static %}

{% block content %}

<a href="{% url 'viewer_profile' user.user_id %}">Profile</a>
<a href="{% url 'watch_history' %}">Watch History</a>
<a href="{% url 'watchlist' %}">Watchlist</a>

<div class="viewer-profile">
    {% if form %}
        <form method="post" action="{% url 'update_profile' user.user_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {% if user.profile_picture_url %}
                    <img src="{{ user.profile_picture_url.url }}" alt="Profile Picture" class="profile-picture-large">
                {% else %}
                    <img src="{% static 'profile_picture/default.svg' %}" alt="Default Profile Picture" class="profile-picture-large">
                {% endif %}
            </div>
            <div>
                {{ form.username.label_tag }}<br>
                {{ form.username }}
            </div>
            <div>
                {{ form.profile_picture_url.label_tag }}<br>
                {{ form.profile_picture_url }}
            </div>
            <div>
                <label>Account created at</label><br>
                <input type="text" value="{{ user.created_at }}" readonly>
            </div>
            <button type="submit">Save changes</button>
        </form>
    {% else %}
        <div>
            {% if user.profile_picture_url %}
                <img src="{{ user.profile_picture_url.url }}" alt="Profile Picture" class="profile-picture-large">
            {% else %}
                <img src="{% static 'profile_picture/default.svg' %}" alt="Default Profile Picture" class="profile-picture-large">
            {% endif %}
        </div>
        <div>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Account created at:</strong> {{ user.created_at }}</p>
            <a href="{% url 'update_profile' user.user_id %}">Edit profile</a>
            <form method="post" action="{% url 'viewer_profile' user.user_id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Are you sure you want to logout?');">Logout</button>
            </form>
        </div>
    {% endif %}



</div>
{% endblock %}
