{% extends "base_user/base_user.html" %}
{% block content %}

<a href="{% url 'viewer_profile' user.user_id %}">Profile</a>
<a href="{% url 'watch_history' %}">Watch History</a>
<a href="{% url 'watchlist' %}">Watchlist</a>

{% if watch_history_list %}

<h2>Your Watch History</h2>

<ul>
    {% for history in watch_history_list %}
    <img src="{{ history.episode.series.thumbnail_picture.url }}" alt="{{ history.episode.series.title }} class="
        series-poster">
    <li>
        <a
            href="{% url 'watch_film_guest' history.episode.series.series_id history.episode.episode_id %}?t={{ history.progress_seconds }}">
            {{ history.episode.series.title }} - {{ history.episode.episode_title }}
        </a>
        ({{ history.progress_seconds }} seconds watched) — last watched: {{ history.last_watched_at }}
    </li>
    {% endfor %}
</ul>

{% else %}

<p>You have no watch history yet. Start watching some films to see them here!</p>

{% endif %}

{% endblock %}